extends layout

block meta
    title GCanvas - Draw to your devices directly with Javascript
    link(rel="icon" href=root+"../assets/favicon-gcanvas.png" type="image/x-icon")
    link(rel="stylesheet" href="./index.css")

block main
    .gcanvas
        .content
            a.coorp-item(href="https://antv.alipay.com/zh-cn/g2/3.x/index.html")
                .left
                    .title G2
                    .description G2 is a set of WYSIWYG graphics syntax that is data-driven, highly user-friendly and extensible, allowing users to build a wide variety of interactive statistics.
                .right
                    img(src="https://img.alicdn.com/tfs/TB1irFsXYGYBuNjy0FoXXciBFXa-609-393.png")
            a.coorp-item(href="https://hiloteam.github.io/")
                .left
                    img(src="https://img.alicdn.com/tfs/TB1gYFsXYGYBuNjy0FoXXciBFXa-505-371.png")
                .right
                    .title Hilo
                    .description Hilo is a Cross-end HTML5 Game development solution developed by Alibaba Group. It could help developers build HTML5 games conveniently in minutes.
                    