extends layout

block meta
    title GCanvas - Draw to your devices directly with Javascript
    link(rel="icon" href=root+"assets/favicon-gcanvas.png" type="image/x-icon")
    link(rel="stylesheet" href=root+"index.css")

block main
    .gcanvas
        .banner
            .content
                .title GCanvas
                .description Draw to your devices directly with Javascript
        .intro
            .content
                .logo
                    img(src=root+"assets/logo-gcanvas.png")
                .title GCanvas, Draw to your devices directly with Javascript
                .description GCanvas is a hybrid canvas SDK for mobile Apps, which allows you to draw to native devices with Javascript. It supports hybrid frameworks like Weex, and ReactNative. GCanvas uses same API as HTML5 canvas.  It supports both graphics 2D and WebGL APIs. GCanvas also takes advantage of hardware acceleration on most devices, which makes you be able to draw scenes in very high frame rate with Javascript.
                .blueprint
                    img(src="https://img.alicdn.com/tfs/TB1NjpfXVOWBuNjy0FiXXXFxVXa-1920-800.jpg")
        .archi
            .content
                img(src="https://img.alicdn.com/tfs/TB1PNBfXYGYBuNjy0FoXXciBFXa-1024-768.png")
        .usage
            .content
                .title Who's using GCanvas?
                img(src="https://img.alicdn.com/tfs/TB1Lv4pX1OSBuNjy0FdXXbDnVXa-1920-700.png")
    script(src="http://g.alicdn.com/gama/assets/0.0.1/gcanvas-banner.bundle.js")