.DS_Store
website
.idea/
node_modules/
.temp
dist
.vscode
souce
external

local.properties
gradle/
.idea/
.gradle/
*.iml
Pods
Podfile.lock
*.xcworkspace
xcuserdata
build/
.externalNativeBuild/

.classpath
.settings/
.project

distribution/
.vscode
package-lock.json
/node/*.png
/node/*.jpg