language: cpp
sudo: true

compiler:
  - gcc

- os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
      
before_install:
    - eval "${MATRIX_EVAL}"
