local.properties
gradle/
.idea/
.gradle/
*.iml
Pods
Podfile.lock
*.xcworkspace
xcuserdata
build/
.externalNativeBuild/

node_modules/

.classpath
.settings/
.project

distribution/

package-lock.json
