a(href="https://github.com/alibaba/GCanvas" target="_blank")
    img(style="position: absolute; top: 64px; right: 0; border: 0;" src="https://img.alicdn.com/tfs/TB1dADTbeSSBuNjy0FlXXbBpVXa-149-149.png")