.footer
    .content
        a.open-source-icon(href="http://opensource.alibaba.com/")
            img(src="http://zos.alipayobjects.com/rmsportal/OCGqTPRSXYMsKjGiHPuP.png")
        div.license Released under Apache License
        div.copyright Copyright ©️ 2019 Alibaba Inc.
