doctype html

html(lang='zh')
    head
        meta(content='text/html')
        meta(charset='utf-8')
        block meta
    body
        include header
        block main
        include footer
        include ga